<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.bfhh.stilleoertchenhamburg"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />
	
    <permission
        android:name="de.bfhh.stilleoertchenhamburg.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
 
    <uses-permission android:name="de.bfhh.stilleoertchenhamburg.permission.MAPS_RECEIVE" />
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
 
    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
 
    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="de.bfhh.stilleoertchenhamburg.AppController" >
        <!--  <uses-library android:name="com.google.android.maps" /> -->
        <!-- Location Service -->
        <service 
            android:name=".LocationUpdateService" 
            android:enabled="true"
            android:exported="false" /> <!-- lets no other applications use our service -->
        <!-- POI Update IntentService -->
        <service android:name=".POIUpdateService" 
            android:enabled="true"
            android:exported="false" />
        
        <!--  Splash screen Activity -->
        <activity
            android:name="de.bfhh.stilleoertchenhamburg.activites.ActivitySplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!--  <action android:name="POIUpdate_OK" />-->
            </intent-filter>
        </activity>
        
        <!--  Toilet List Test Activity -->
        <activity
            android:name="de.bfhh.stilleoertchenhamburg.activites.ToiletTestActivity"
            android:label="@string/menu_test"
            android:parentActivityName="de.bfhh.stilleoertchenhamburg.activites.ActivityMap" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <!--  Impressum Activity -->
        <activity
            android:name="de.bfhh.stilleoertchenhamburg.activites.ActivityImpressum"
            android:label="@string/menu_impressum"
            android:parentActivityName="de.bfhh.stilleoertchenhamburg.activites.ActivityMap" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Main Activity -->
        <activity
            android:name="de.bfhh.stilleoertchenhamburg.activites.ActivityMap"
            android:label="@string/app_name" >
        </activity>
        
        <!-- Goolge Maps API Key -->
		<meta-data
		     android:name="com.google.android.maps.v2.API_KEY"
		     android:value="AIzaSyAL6h4-NNJcuUY7d7Csm0jNxEiYd7h9oEg" />
		<!--  From Stackoverflow http://stackoverflow.com/questions/20193272/my-google-map-v2-test-apps-crashes -->
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />
    </application>

</manifest>